h1 {
    text-align: center;
}
#btn-container, #container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
#panel-head {
    background-color: aquamarine;
    width:100px;
    height: 30px;;
    text-align: center;
    vertical-align: middle;
}

#panel-body {
    background-color: bisque;
    width:100px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}


